<h1>Students#delete</h1>
<%= form_for(@student, :method => 'delete') do |f| %>
    <div class="confirm">
        Are you sure you want to delete the record?
        <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><%= @student.name %></td>
        </tr>
    </table>
    </div>
    <div class="form-buttons">
        <%= f.submit("Delete Student") %>
    </div>
    
    <% end %>