<h1>Teachers#edit</h1>
<p>Find me in app/views/teachers/edit.html.erb</p>
<%= form_for(@teacher) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-buttons">
        <%= f.submit("Update Teacher") %>
    </div>
<% end %>