<h1>Teachers#new</h1>
<p>Find me in app/views/teachers/new.html.erb</p>
<%= form_for(@teacher, :url => teachers_path, :method => 'post') do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
<div class="form-buttons">
    <%= f.submit("Create Teacher") %>
</div>

<% end %>
